<form class='new-question-form' action="/questions" method="post">
  Title: <input type="text" name="title"><br>
  Content: <input type="text" name="content"><br>
  <input type="submit" value="Post a Goal">
</form>
