<form action="/questions/:id/comments" method="post">
  Content: <input type="text" name="content"><br>
  <input type="hidden" name="question_id" value="<%= @answer.question.id %>">
  <input type="submit" value="Post comment">
</form>
