
body{
  font-family: 'Roboto', sans-serif;
  background-color: #b6dcb3;
  width: auto;
  max-width: 1500px;
  min-width: 700px;
  margin:auto;
  font-size: 20px;
}



#home-title a{
  font-size: 2em;
  text-decoration: none;
  color: #1a1a1a;
}

a:hover{
  font-style: italic;
}

#nav-home{
  position: relative;
  margin: 0 auto;
  text-align: center;
  border-bottom: 4px solid black;
  border-radius: 10px;
  width: 100%;
  top: -20px;
  left: -48px;
  padding: 20px;
  margin: 20px;
}

h2{
  padding: 20px;
}

h3{
  margin: 0 auto;
  text-align: center;
}

.total{
  background-color: #e6e6e6;
  border: 1px solid #808080;
  border-radius: 5px;
  width: 75%;
  margin-left: 10px;
  padding: 5px;
}

li{
  list-style: none;
}

.question_list {
  background-color:#b367ba;
  border-style: double;
}

.question-block{
  display: -webkit-flex;
  display: flex;
  clear: both;
  position: relative;
  margin: 20px;
  padding-left: 10px;
  margin-left: 12.5%;
  margin-right: 15%;
  min-width: 600px;
  background-color: #c5e3c2;
  border-radius: 20px;
  border: double black 2px
}

.question-block li {

  margin-left: 30%;
  float: right;
}


.vote-block{
  -webkit-flex: initial;
          flex: initial;

  float: left;
  height: 72px;
  width: 60px;
  display: inline-block;
}

.vote-image {
  margin-left: 50%;
  margin-top: 12.5px;
  max-height: 20px;
  max-width: 20px;
}
#chosen_best_answer {
  float: left;
  position: relative;
  opacity: 1.0;
}
.best_answer{
  float: left;
  position: relative;
  opacity: 0.0;
}


.best_answer:hover{
  opacity: 1.0;
}

.upvote-block{}

.downvote-block{}

.sum-block{
  -webkit-flex: none;
          flex: none;
  /*position: relative;*/
  float: left;
  height: 72px;
  width: 72px;
  text-align: center;
  border-radius: 100%;
  line-height: 72px;
  color: #b2b2b2;
}

.title-block{
  position: relative;
  float: right;
  -webkit-flex: 3;
          flex: 3;
  line-height: 72px;
  }

  /*
  http://www.color-hex.com/color-palette/17901
  http://www.color-hex.com/color-palette/17821
  http://www.color-hex.com/color-palette/17849

  */

.answer-form{
  display: none;
}

.comment-on-answer-form{
  display: none;
}

