body{
  font-family: 'Roboto', sans-serif;
}

#home-title a{
  font-size: 2em;
  text-decoration: none;
  color: #1a1a1a;
}

a:hover{
  font-style: italic;
}

#nav-home{
  position: relative;
  margin: 0 auto;
  text-align: center;
  border-bottom: 4px solid black;
  border-radius: 10px;
  width: 100%;
  top: -20px;
  left: -48px;
  padding: 20px;
  margin: 20px;
}

h2{
  padding: 20px;
}

h3{
  margin: 0 auto;
  text-align: center;
}

.total{
  background-color: #e6e6e6;
  border: 1px solid #808080;
  border-radius: 5px;
  width: 75%;
  margin-left: 10px;
  padding: 5px;
}

/*div{*/
  /*border: 1px black solid;*/
/*}*/

li{
  list-style: none;
}

.question-block{
  display: -webkit-flex;
  display: flex;
  clear: both;
}

.vote-block{
  -webkit-flex: initial;
          flex: initial;
  float: left;
}

.best_answer{
  float: left;
  position: relative;
  opacity: 0.0;
}
.best_answer:hover{
  opacity: 1.0;
}

.upvote-block{}

.downvote-block{}

.sum-block{
  -webkit-flex: none;
          flex: none;
  /*position: relative;*/
  float: left;
  height: 72px;
  width: 72px;
  text-align: center;
  border-radius: 100%;
  line-height: 72px;
}

.title-block{
  position: relative;
  float: right;
  -webkit-flex: 3;
          flex: 3;
  line-height: 72px;
  }

.answer-form{
  display: none;
}

.comment-on-answer-form{
  display: none;
}
