<form action="/user/new" method="post">
  Username: <input type="text" name="username"><br>
  Email: <input type="text" name="email"><br>
  Password: <input type="text" name="password"><br>
  <input type="submit" value="Create Account">
</form>
