<form action="/questions/:id/answers" method="post">
  Answer: <input type="text" name="content"><br>
  <input type="hidden" name="question_id" value="<%= @question.id %>">
  <input type="submit" value="Post answer">
</form>
