<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Goal Post</title>
</head>
<body>
  <div id="nav-home">
  <h1 id="home-title"><a href='/'>Goal Post</a></h1>
    <nav>
      <ul class="navbar-container">
        <% if logged_in? %>
          <li><a href="/users/<%= session[:user_id] %>">User Profile</a></li>
          <li><a id="new-question-form" href="/questions/new">Post a Goal</a></li>
          <form action="/logout" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Logout">
          </form>
          <div id="future-form"></div>
        <% else %>
          <li><a href='/login'>Login</a></li>
          <li><a href='/users/new'>Create Account</a></li>
        <% end %>
      </ul>
    </nav>
  </div>
  <%= yield %>
</body>
</html>
